{block content}
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/AntiCZ/day-of-ranger@0.0.1-rc6/js/dayofranger.js"></script>
<style>
    [role="textbox"][data-input-type="dek-calendar"] { 
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAYFBMVEUAAABCQkJERERDQ0NFRUVERERKSkpWVlY8PDxDQ0NERERERERGRkZDQ0NERERFRUVERERERERGRkZERERDQ0NERERERERERERCQkI/Pz9DQ0NFRUVERERERERDQ0NERESW75nyAAAAH3RSTlMAIvdbd/kRBAupwI8+ypyUaTUZ8LewcWJHD5eFN95Og+jrHAAAAI1JREFUGNN1jkkOwkAMBD1xzCSzT/YN+v+/JAEURQLq4EOpLDXtsBl1382TKelAZ6MN2zTUTZcP0QFUwCaguaMnagA4QW+BR7tLUlJeEEWqoAvFIXS0OY5jzDbql6ggjLoGC6p3wazYuf3wvyIsW0gpbEv4FN5Mfl39ZHz1/fJjxyzuduJkJhpanLQDPQHMpQr21bR0jAAAAABJRU5ErkJggg==');
        background-repeat: no-repeat;
        background-position: center right 7px;
    }
</style>